<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ep1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EP1">
        <activity android:name=".ayuda"
            android:label="AYUDA"></activity>
        <activity android:name=".acerca_de"
            android:label="ACERCA DE"/>
        <activity android:name=".mas_informacion"
            android:label="MAS INFORMACION"/>
        <activity android:name=".Estado_rl"
            android:label="HISTORIAL DE PEDIDOS"/>
        <activity android:name=".Tracking_rl"
            android:label="ESTADO ACTUAL DE TU PEDIDO"/>
        <activity android:name=".cuenta_rl"
            android:label="MI CUENTA"/>
        <activity android:name=".Splash"
            android:theme="@style/Theme.EP1.NoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".forgotPassword"
            android:label="OLVIDE MI CONTRASEÑA"/>
        <activity android:name=".signup"
            android:label="REGISTRAR USUARIO"/>
        <activity android:name=".login"
            android:label="INICIAR SESION"/>
        <activity android:name=".MainActivity"
            android:label="INICIO"/>
    </application>

</manifest>